.device-icon {
  width: 60px;
  height: 60px;
  background-color: lightgray;
  border-radius: 50%;
  margin-bottom: 12px;
}

.device-card {
  width: 130px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  user-select: none;
  cursor: pointer;
  border: 1px solid #303030;

  &:hover,
  &:focus {
    outline: none;

    &::before {
      /* this should be transformed into some kind of a mixin at a later date */
      content: " ";
      background-color: rgba($color: #fff, $alpha: 0.03);
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 4px;
    }
  }

  &__h3 {
    margin-bottom: 5px;
  }

  &__p {
    margin-top: 0;
    font-size: 13px;
  }
}
