.header {
    &-container {
        display: flex;
        place-content: center space-between;
    }

    &-section {
        a:not(:first-of-type) {
            margin-left: 10px;
        }
    }

    &-logo {
        height: 75%;

        &__image {
            height: 100%;
        }
    }
}