<div class="device-details-page-wrapper">
  <mat-card class="device-details__section">
    <div class="device-basic-info">
      <div class="device-basic-info__first">
        <div class="icon__wrapper">
          <div class="icon"></div>
        </div>
        <div class="text__wrapper header-flex-column">
          <h2>{{ device.displayName }}</h2>
          <p>
            {{ device.entities.length }}
            <span class="gray-color">ENTITIES</span>
          </p>
        </div>
      </div>
      <div class="device-basic-info__second header-flex-column">
        <div>
          <span class="gray-color">KEY</span>
          {{ device.key }}
        </div>

        <div>
          <span class="gray-color">MAC</span>
          {{ device.macAddress }}
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card class="device-entities device-details__section">
    <h1 class="entities-title">Entities:</h1>
    <div class="entity-list">
      <mat-card
        class="entity-item mat-elevation-z2"
        *ngFor="let entity of device.entities"
      >
        <div class="icon"></div>
        <h4>
          {{ entity.displayName }}
        </h4>
        <h3>92 dB</h3>
        <h5>13 minutes ago</h5>
      </mat-card>
    </div>
  </mat-card>
</div>
