@import "~src/variables.scss";

.device-details {
  &__header {
    .section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
    }

    .basic-info {
      .device-name {
        font-size: 26px;
        font-weight: 300;
      }

      .device-entities {
        font-size: 18px;
        font-weight: 500;
        color: darken($color: $thingoo-text, $amount: 20%);

        .entities-text {
          margin-left: 3px;
          color: darken($color: $thingoo-text, $amount: 40%);
        }
      }
    }

    .spacer {
      width: 6vw;
    }

    .details-info {
      gap: 8px;
    }
  }

  &__entities {
    .entities-header {
      color: darken($color: $thingoo-text, $amount: 10%);
      font-weight: 400;
      margin-bottom: $section-padding;
    }

    .entities-list {
      display: flex;
      flex-wrap: wrap;
      gap: $elements-grid-gap;
    }
  }
}