@import "~src/variables.scss";

$section-padding: 40px;

.device-details {
  &__header {
    display: flex;
    flex-direction: row;
    gap: 15px;
    color: $thingoo-text;

    .section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
    }

    .basic-info {
      .device-name {
        font-size: 26px;
        font-weight: 300;
      }

      .device-entities {
        font-size: 18px;
        font-weight: 500;
        color: darken($color: $thingoo-text, $amount: 20%);

        .entities-text {
          margin-left: 3px;
          color: darken($color: $thingoo-text, $amount: 40%);
        }
      }
    }

    .spacer {
      width: 6vw;
    }

    .details-info {
      // TODO:!
      gap: 8px;
    }
  }

  &__entities {
    padding: $section-padding 0;

    .entities-header {
      color: darken($color: $thingoo-text, $amount: 10%);
      font-weight: 400;
      margin-bottom: $section-padding;
    }

    .entities-list {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
    }
  }
}