@import "~src/variables.scss";

.device-list {
  padding: $section-padding 0;

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: $elements-grid-gap;
  }

  &__text {
    color: darken($color: $thingoo-text, $amount: 10%);
  }
}
