.device-icon {
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        background-color: transparentize($color: white, $amount: 0.8)
    }
}
