.login-card {
    &__image {
        background-image: url('/assets/lock.png');
        background-size: cover;
    }

    &__buttons {
        display: flex;
        place-content: center space-between;
    }
}

.form-field {
    width: 100%;
}

.mat-card-header {
    margin-bottom: 20px;
}

.mat-card-content {
    margin-bottom: 0px;
}