@import "~src/variables.scss";

.value-row {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: 500;

    &__name {
        color: darken($color: $thingoo-text, $amount: 40%);
    }

    &__value {
        color: darken($color: $thingoo-text, $amount: 20%);
    }
}
